//cores
$laranja: #ffb334;
$amarelo: #ffb80e;
$cinza: #4a4d52;
$branco: #ffffff;
$roxo: #5e456b;
$azul: #0781a2;


//breakpoints
$sm: "(min-width: 768px)";
$md:"(min-width: 992px)";
$lg:"(min-width: 1200px)";
