.home {
  background-image: url("../img/bg-home-mobile-pattern.jpg");
  background-size: 25%;
  background-repeat: repeat;
  padding-top: 70px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .home {
    background-image: url("../img/bg-home.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
@media (min-width: 768px) {
  .home {
    padding-top: 90px;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .home {
    width: 100%;
  }
}

.inicio-row {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.modal .content-modal {
  width: calc(100% - 30px);
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .modal .content-modal {
    width: 80%;
  }
}
.modal .content-modal .buttons {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 992px) {
  .modal .content-modal .buttons {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 30%;
    width: 55%;
  }
}
.modal .content-modal .buttons::after {
  content: "";
  display: table;
  clear: both;
}
.modal .content-modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.modal .content-modal .btn-close::before, .modal .content-modal .btn-close::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.modal .content-modal .btn-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal .content-modal .btn-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal .content-modal .btn-prev, .modal .content-modal .btn-next {
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}
@media (min-width: 992px) {
  .modal .content-modal .btn-prev, .modal .content-modal .btn-next {
    width: 90px;
    height: 90px;
  }
}
.modal .content-modal .btn-prev {
  position: relative;
}
@media (min-width: 992px) {
  .modal .content-modal .btn-prev {
    float: left;
  }
}
.modal .content-modal .btn-prev::after, .modal .content-modal .btn-prev::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.modal .content-modal .btn-prev::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal .content-modal .btn-prev::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal .content-modal .btn-next {
  position: relative;
}
@media (min-width: 992px) {
  .modal .content-modal .btn-next {
    float: right;
  }
}
.modal .content-modal .btn-next::after, .modal .content-modal .btn-next::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}
.modal .content-modal .btn-next::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal .content-modal .btn-next::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal .content-modal .texto-ajuda {
  width: calc(100% - 70px);
}
@media (min-width: 768px) {
  .modal .content-modal .texto-ajuda {
    font-size: 2.2em;
  }
}
@media (min-width: 992px) {
  .modal .content-modal .texto-ajuda {
    float: left;
    width: 20%;
    font-size: 1.6em;
    text-align: right;
    margin-left: 15%;
  }
}
.modal .content-modal .texto-ajuda p {
  color: #ffffff;
  font-size: 0.6em;
  line-height: 1.2;
  font-family: Louis-Italic;
  margin: 10px 0;
}
.modal .content-modal .texto-ajuda p strong {
  color: #ffb80e;
}
.modal .content-modal .tipos-nf {
  overflow: hidden;
}
@media (min-width: 992px) {
  .modal .content-modal .tipos-nf {
    width: 50%;
  }
}
.modal .content-modal .tipos-nf .nf-container::after {
  content: "";
  display: table;
  clear: both;
}
.modal .content-modal .tipos-nf .nf {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.modal .content-modal .tipos-nf .nf p {
  color: #ffffff;
  font-family: Louis-Italic;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px;
}
@media (min-width: 768px) {
  .modal .content-modal .tipos-nf .nf p {
    font-size: 1.8em;
  }
}
.modal .content-modal .tipos-nf .nf img {
  width: 45%;
}
.modal .content-modal .dots {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 992px) {
  .modal .content-modal .dots {
    width: 60%;
    margin-left: 30%;
  }
}
.modal .content-modal .dots input {
  display: none;
}
.modal .content-modal .dots input + label {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
@media (min-width: 768px) {
  .modal .content-modal .dots input + label {
    width: 12px;
    height: 12px;
    margin-right: 15px;
  }
}
.modal .content-modal .dots input:checked + label::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #ffb80e;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .cadastro-nf {
    background-size: 100% 100%;
  }
}
.cadastro-nf .row {
  position: relative;
}

.carro {
  width: 100%;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  margin-top: -20px;
}

.info-cadastro-nf {
  width: 100%;
}

@media (min-width: 992px) {
  .form-cadastro-nf {
    margin-top: 20px;
  }
}
.form-cadastro-nf h2 {
  text-transform: uppercase;
  font-family: Louis-Italic;
  opacity: 0.8;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 992px) {
  .form-cadastro-nf h2 {
    font-size: 3em;
  }
}
@supports (mix-blend-mode: multiply) {
  .form-cadastro-nf h2 {
    opacity: 1;
    mix-blend-mode: multiply;
  }
}
.form-cadastro-nf h2 span.first-word {
  color: #ffb80e;
}
.form-cadastro-nf form {
  width: 100%;
}
.form-cadastro-nf form label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: Louis-BoldItalic;
  color: #333333;
  font-size: 0.9em;
}
.form-cadastro-nf form label[for=numero-nf] {
  position: relative;
}
.form-cadastro-nf form label[for=numero-nf] i {
  background-color: #ffb80e;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 0.5em;
  font-family: Louis-BoldItalic;
  color: #333;
  text-align: center;
  padding: 27px 5px 0;
  line-height: 1.1;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form-cadastro-nf form label[for=numero-nf] i {
    font-size: 0.7em;
  }
}
.form-cadastro-nf form label[for=numero-nf] i::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
}
.form-cadastro-nf form label[for=numero-nf] input {
  height: 50px;
}
.form-cadastro-nf form label span {
  padding: 5px 8px;
  background-color: #ffb80e;
  display: inline-block;
  opacity: 0.8;
  margin-right: 10px;
}
@supports (mix-blend-mode: multiply) {
  .form-cadastro-nf form label span {
    opacity: 1;
    mix-blend-mode: multiply;
  }
}
.form-cadastro-nf form label input {
  width: 100%;
  padding: 10px 13px;
  font-family: Louis-Italic;
  line-height: 1;
}
.form-cadastro-nf form label input[name=data-nf] {
  background-image: url("../img/data.svg");
  background-size: contain;
  background-origin: content-box;
  background-position: right center;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .form-cadastro-nf form .dados-nf {
    width: calc(50% - 10px);
    display: inline-block;
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  .form-cadastro-nf form .cod-participacao {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
  }
}
.form-cadastro-nf form .cod-participacao legend {
  font-family: Louis-BoldItalic;
  color: #333333;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.form-cadastro-nf form .cod-participacao legend span {
  padding: 5px 8px;
  background-color: #ffb80e;
  display: inline-block;
  opacity: 0.8;
  margin-right: 10px;
}
@supports (mix-blend-mode: multiply) {
  .form-cadastro-nf form .cod-participacao legend span {
    opacity: 1;
    mix-blend-mode: multiply;
  }
}
.form-cadastro-nf form .cod-participacao legend p {
  display: inline-block;
  margin: 0;
}
.form-cadastro-nf form .cod-participacao .increaser {
  text-align: center;
  margin-bottom: 15px;
}
.form-cadastro-nf form .cod-participacao .increaser button {
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #ffb80e;
  color: #333333;
  text-align: center;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .form-cadastro-nf form .cod-participacao .increaser button {
    width: 35px;
    height: 35px;
  }
}
.form-cadastro-nf form .cod-participacao .increaser p {
  display: inline-block;
  margin: 0 10px;
  height: 40px;
  width: 50px;
  padding: 5px;
  background-color: #ffffff;
  color: #333333;
  vertical-align: middle;
  line-height: 1.5;
  font-family: Louis-BoldItalic;
}
@media (min-width: 992px) {
  .form-cadastro-nf form .cod-participacao .increaser p {
    height: 35px;
    line-height: 1.8;
  }
}
.form-cadastro-nf form .cod-participacao .codigos {
  text-align: center;
  height: 220px;
  background-color: transparent;
  padding: 0;
}
.form-cadastro-nf form .cod-participacao .codigos label {
  display: inline-block;
  width: 80%;
  height: 40px;
}
.form-cadastro-nf form .cod-participacao .codigos span {
  display: inline-block;
  height: 100%;
  margin-right: 5px;
  width: 30px;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .form-cadastro-nf form .cod-participacao .codigos span {
    margin-right: 6px;
    width: calc(20% - 3px);
    line-height: 2.5;
  }
}
.form-cadastro-nf form .cod-participacao .codigos input {
  display: inline-block;
  width: inherit;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .form-cadastro-nf form .cod-participacao .codigos input {
    width: calc(78% - 3px);
    height: 100%;
  }
}
.form-cadastro-nf form .cod-participacao .codigos .mCS-escolaCampeoes.mCSB_scrollTools {
  right: -10px;
}
.form-cadastro-nf form .observacao {
  font-size: 0.75em;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: Louis-BoldItalic;
}
@media (min-width: 992px) {
  .form-cadastro-nf form .observacao {
    font-size: 0.85em;
    width: calc(50% - 10px);
    margin-left: -50px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
}
.form-cadastro-nf form button[name=gerar-cupom] {
  border-radius: 0;
  border: none;
  padding: 10px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100px;
  background-image: url("../img/btn-enviar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  font-size: 1.3em;
  padding: 0 0 20px;
  width: calc(50% - 10px);
  display: inline-block;
  vertical-align: middle;
}

.premios-promocao {
  overflow: visible;
}
.premios-promocao img {
  width: 100%;
  margin-top: -30px;
}
@media (min-width: 992px) {
  .premios-promocao img {
    margin-top: 0;
  }
}

.button-switch {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .button-switch {
    display: none;
  }
}
.button-switch .field {
  margin-bottom: 30px;
  display: inline-block;
}
.button-switch input[type=checkbox] {
  display: none;
}
.button-switch input[type=checkbox] + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 22px;
  height: 40px;
  border: 1px solid #4a4d52;
  border-radius: 16px;
}
.button-switch input[type=checkbox] + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #4a4d52;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.4s;
}
.button-switch input[type=checkbox]:checked + label:after {
  -webkit-transform: translateY(18px);
      -ms-transform: translateY(18px);
          transform: translateY(18px);
}
.button-switch input[type=checkbox]:checked + label {
  transition: all 0.4s;
}
